{% extends 'base.html' %}

{% block content %}

</head>
<body>
                        
<div class="break"></div>
<div class="container details"> 
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="details-image">
                        <img src="{{ artwork.image.url }}" alt="{{ artwork.title }}" onclick="openModal('{{ artwork.image.url }}', '{{ artwork.title }}')">
                    </div>
                </div>
                <div class="col-md-6">
                    <h4 class="mt-5">{{ artwork.title }}</h4>
                    <h5>Artist: <a href="{% url 'user_profile' username=artwork.artist.username %}">{{ artwork.artist.username }}</a></h5>
                    <p class="mt-4">Description:</p>
                    <p class="description">{{ artwork.description }}</p>
                    <div class="artwork-details">
                        <p><strong>Category: </strong></p>
                        <p class="label-green">{{ artwork.category }}</p>
                    </div>
                    <hr>
                    <div class="artwork-details mt-3">
                        <p class="label-orange"><i class="fa-solid fa-star"></i>{{ artwork.critiques }}</p>
                        <p class="label-blue">
                            <a class="card-text like-button" data-artwork-id="{{ artwork.id }}">
                                {% if request.user in artwork.likes.all %}
                                    <i class="fa-solid fa-heart"></i>
                                {% else %}
                                    <i class="fa-regular fa-heart"></i>
                                {% endif %}
                                <span class="like-count">{{ artwork.likes.count }}</span>
                            </a>
                    </div>
                    <hr>
                    <form class="mt-5" method="post" action="{% url 'add_comment' artwork.id %}">
                        {% csrf_token %}
                        <label for="comment">Post a comment:</label>
                        <textarea name="comment" rows="4" cols="50" required></textarea>
                        <button type="submit">Post</button>
                    </form>
                    <ul style="display:initial;" class="comment-section">
                        <p>Comments:</p>
                        {% for comment in artwork.comments.all %}
                            <li><strong style="font-weight:bold">{{ comment.user.username }}</strong>: {{ comment.text }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="break"></div>
            <div class="text-center pb-5">
                <a href="{% url 'user_profile' username=artwork.artist.username %}">Go to Artist Profile</a>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal">
    <span class="close-btn" onclick="closeModal()">&times;</span>
    <img class="modal-content" id="modalImage">
</div>

{% endblock %}