{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ArtPulse Gallery{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</head>

<body>
    <div class="messages-container">
        {% if messages %}
            <div class="popup-messages">
                <strong>Messages:</strong>
                <a class="close-button" onclick="closeMessages()">X</a>
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    
    <script>
        function closeMessages() {
            document.querySelector('.popup-messages').style.display = 'none';
        }
    </script>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'account' %}">My account</a></li>
            <li><a href="{% url 'account_logout' %}">Log Out</a></li>
            {% else %}
            <li><a href="{% url 'account_login' %}">Log In</a></li>
            <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
            {% endif %}
        </ul>
    </nav>

    <main>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer>
        <p>&copy; 2023 ArtPulse</p>
        <p>Hero Image: Icarus by Henri Matisse</p>
    </footer>

</body>
</html>