{% extends 'base.html' %}
{% block content %}

<div class="break"></div>
<div class="container form-container">
  <div class="form-container-border">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <h2>Send Message to {{ interested_user.username }}</h2>

            <form method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Send Message</button>
            </form>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
