{% extends 'base.html' %}

{% block content %}

<div class="break"></div>
    <div class="container profile"> 
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="row">
                    <!-- Profile Picture Section -->
                    <div class="col-md-4 profile-picture">
                        {% if user_userprofile.profile_picture %}
                            <img src="{{ user_profile.profile_picture.url }}" alt="Profile Picture">
                        {% else %}
                            <img src="https://art-pulse.s3.ca-central-1.amazonaws.com/media/blank-profile-picture.webp" alt="Profile Picture">
                        {% endif %}
                    </div>

                    <!-- User Information and Stats Section -->
                    <div class="col-md-4 stats">
                        <h2>{{ user_profile.user.username }}</h2>
                        <p>Total Artworks: {{ total_artworks }}</p>
                        <p>Average Rating: {% if average_rating %}{{ average_rating|floatformat:2 }}{% else %}Not available{% endif %}</p>
                        <p>Total Comments: {{ total_critiques }}</p>
                    </div>

                    <!-- collab -->
                    <div class="col-md-4 stats">
                        {% if collaborative_projects %}
                            <div>
                                <h2>Collab Available!</h2>
                                <p>Work on a project together with {{ user_profile.user.username }}:</p>
                                {% for project in collaborative_projects %}
                                    <div>
                                        <p><strong>Project Title:</strong> {{ project.title }}</p>
                                        <a href="{% url 'project_detail' project_id=project.id %}" class="highlight">Project Details</a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <div>
                                <p>This user has not posted any collaborative projects yet.</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>



            <!-- Artwork Cards Section -->
            <div class="row mt-4">
                {% for artwork in artworks %}
                    <div class="col-md-4">
                        <div class="card">
                            <img src="{{ artwork.image.url }}" class="card-img-top" alt="{{ artwork.title }}" onclick="openModal('{{ artwork.image.url }}', '{{ artwork.title }}')">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title">{{ artwork.title }}</h5>
                                        <p class="card-text"><strong>Artist:</strong> <a href="{% url 'user_profile' username=artwork.artist.username %}">{{ artwork.artist.username }}</a></p>
                                    </div>
                                    <div class="col d-flex justify-content-end">
                                        <a class="card-text mr-2" href="{% url 'artwork_detail' artwork.id %}"><i class="fa-regular fa-message"></i></a>
                                        <a class="card-text" href="{% url 'like_artwork' artwork.id %}">
                                          <a class="card-text like-button" data-artwork-id="{{ artwork.id }}">
                                            {% if request.user in artwork.likes.all %}
                                                <i class="fa-solid fa-heart"></i>
                                            {% else %}
                                                <i class="fa-regular fa-heart"></i>
                                            {% endif %}
                                        </a>
                                      </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="break"></div>
            <div class="text-center pb-5">
                <!-- Back to Gallery link -->
                <a href="{% url 'index' %}" class="highlight">Back to Gallery</a>
            </div>
            <div id="myModal" class="modal">
                <span class="close-btn" onclick="closeModal()">&times;</span>
                <img class="modal-content" id="modalImage">
            </div>
        </div>
    </div>
</div>

{% endblock %}
